html {
    scroll-behavior: smooth;
}

.recuo {
    text-indent:1.5em; 
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb{
    background-color:#1f9dff;
    border-radius: 10px;
}

* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

* h1, h2, h3, h4, h5, p, i{
    color: #fff;
}

body {
    background: #0f0f0f;
}

.scrollTop {
    outline: none;
    border: 0;
    background-color: #fff;
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}

.scrollTop:hover{
    background-color: #1f9dff;
}

.scrollTop.active {
    opacity: 1;
    visibility: visible;
}

.scrollTop img {
    width: 50%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f0f0f;
    height: 10vh;
    border-bottom: 0.4px solid #1f9dff;
}

nav .logo{
    display: flex;
    flex-direction: row;
    line-height: 10px;
    margin: 10px;
}

nav .logo img {
    margin-left: 50px; 
    width: 50px;
}

header nav .logo h4{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
letter-spacing: 3px;
margin-right: 15px;
margin-left: 32px;
}

.nav-list li a{
color: #fff;
text-decoration: none;
transition: 0.3s;
}

.nav-list li a:hover {
color: #1f9dff;
}

.mobile-menu {
display: none;
cursor: pointer;
}

.mobile-menu div {
width: 32px;
height: 2px;
background: #fff;
margin: 8px;
transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


.inicio {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.inicio .componentes-inicio {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.inicio .componentes-inicio .texto-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inicio .componentes-inicio .texto-inicio h1{
    color: #fff;
    font-size: 40px;
    font-family: "Roboto";
    margin-bottom: 3;
}

.inicio .componentes-inicio .texto-inicio h3{
    color: #1f9dff;
    margin-bottom: 30px;
}

.inicio .componentes-inicio .texto-inicio p {
    font-size: 16px;
    margin-bottom: 10px;
}

.inicio .componentes-inicio .texto-inicio .redes-sociais {
    flex-direction: row;
    justify-content: center;
 }
 
 .inicio .componentes-inicio .texto-inicio .redes-sociais a i{
     color: #1f9dff;
     font-size: 23px;
     margin: 2px;
 }

 .inicio .componentes-inicio .texto-inicio .redes-sociais a i:hover{
    color: #fff;
}

.inicio .componentes-inicio .image{
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 2px 0px #1f9dff);
}

.inicio .componentes-inicio .image img{
    width: 150%
}

.sobre{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

.sobre .componentes-sobre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.sobre .componentes-sobre .texto-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 450px; 
}

.sobre .componentes-sobre .texto-sobre span{
    color: #1f9dff;
}

.sobre .componentes-sobre .texto-sobre p {
    text-align: justify;
    width: auto;
    
}

.sobre .componentes-sobre .img-sobre {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 2px 0px #1f9dff);
}

.sobre .componentes-sobre .img-sobre img{
    width: 150%;
}

.formacao{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.formacao .componentes-formacao{
    display: flex;
    flex-direction: column;
}

.formacao .componentes-formacao .formacao-tecnico{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formacao .componentes-formacao .formacao-tecnico .texto-tecnico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
    width: 450px;
}

.formacao .componentes-formacao .formacao-tecnico .texto-tecnico h2{
    display: flex;
    justify-content: center;
    align-items: start;
}

.formacao .componentes-formacao .formacao-tecnico .texto-tecnico h3{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: start;
}

.formacao .componentes-formacao .formacao-tecnico .texto-tecnico span{
    display: flex;
    justify-content: center;
    color: #1f9dff;
}

.formacao .componentes-formacao .formacao-tecnico .texto-tecnico p{
    text-align: justify;
    width: auto;
    margin-top: 10px;
}

.formacao .componentes-formacao .formacao-tecnico .img-tecnico {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 2px 0px #1f9dff);
}

.formacao .componentes-formacao .formacao-tecnico .img-tecnico img{
    width: 150%;
}

.formacao .componentes-formacao .formacao-tsi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formacao .componentes-formacao .formacao-tsi .texto-tsi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
    width: 450px;
}

.formacao .componentes-formacao .formacao-tsi .texto-tsi h3{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: start;
}

.formacao .componentes-formacao .formacao-tsi .texto-tsi span{
    color: #1f9dff;
}

.formacao .componentes-formacao .formacao-tsi .texto-tsi p {
    text-align: justify;
    width: auto;
    margin-top: 10px;
}

.formacao .formacao-tsi .img-tsi {
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 2px 0px #1f9dff);
}

.formacao .formacao-tsi .img-tsi img{
    width: 150%;
}

.tecnologias .componentes-tecnologias {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.tecnologias .componentes-tecnologias h2{
    margin-left: 110px;
}

.tecnologias .componentes-tecnologias span{
    color: #1f9dff; 
}

.tecnologias .componentes-tecnologias ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.tecnologias .componentes-tecnologias ul li {
    display: inline-block;
    margin: 30px;
}

.tecnologias .componentes-tecnologias ul li i{
    color: #1f9dff;
    font-size: 60px;
}

.tecnologias .componentes-tecnologias ul li i:hover{
    color: #fff;
}

.projetos {
    display: flex;
    flex-direction: column
}

.projetos h2{
    margin-left: 110px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.projetos span{
    color: #1f9dff; 
}

.projetos .card-projetos-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 35px;
    margin-right: 35px;
}

.projetos .card-projetos-row .card-projetos{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-radius: 14px;
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.22);
    padding: 20px;
    margin: 10px;
    width: 25%;
    transition: all 0.2s ease-out;
}

.projetos .card-projetos-row .card-projetos:hover{
    top:10px;
    /* box-shadow: 7px 7px 13px 7px rgba(97, 97, 97, 0.22); */
    filter: drop-shadow(6px 6px 6px #1f9dff);
}

.projetos .card-projetos-row .card-projetos img {
    width: 100%;
    border-radius: 5px;
}

.projetos .card-projetos-row .card-projetos h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
}

.projetos .card-projetos-row .card-projetos p {
    text-align: justify;
}

.projetos .card-projetos-row .card-projetos .componentes-projetos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.projetos .card-projetos-row .card-projetos .componentes-projetos ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projetos .card-projetos-row .card-projetos .componentes-projetos ul li{
    display: inline-block;
    margin: 5px;
    font-size: 25px;
}

.projetos .card-projetos-row .card-projetos .componentes-projetos a i{
    color: #1f9dff;
    font-size: 30px;
    margin: 2px;
}

.projetos .card-projetos-row .card-projetos .componentes-projetos a i:hover{
    color: #fff;
}

.contato {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    margin-top: 100px;
    border-bottom: 0.4px solid #1f9dff;
}

.contato h2{
    margin-top: 30px;
    margin-left: 110px;
}

.contato span{
    color: #1f9dff; 
}

.componentes-contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.texto-contato {
    margin-right: 200px;
    margin-left: -180px;
    margin-top: 30px;
}

.texto-contato p{
    text-align: justify;
}

.contatos {
    margin-right: -150px;
}

.contatos ul {
    display: flex;
    flex-direction: column;
}

.contatos ul li{
    display: inline-block;
    color: #fff;
    margin: 3px;
    font-size: 13px;
}

.contatos ul li i{
    color: #1f9dff;
    font-size: 15px;
    margin-right: 2px;
}

footer {
    background-color: #000000;
    padding: 15px;
    text-align: center;
}

footer p{
    font-size: 13px;
    font-style: italic;
}

#spotify-player {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
}
